.ac-banner{
    text-align: center;
    background-color: #E8EAF6;
    padding: 4rem;
}
.ac-banner-heading{
    font-size: 3rem;
}
.ac-banner-para{
    font-size: 1.2rem;
    font-weight: 300;
}
.ac-description{
    display: flex;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.ac-main-description{
    width: 40%;
    margin-left: 7.5%;
    margin-right: 2.5%;
}
.ac-description-image{
    width: 40%;
    margin-left: 2.5%;
    margin-right: 7.5%;
}
.ac-image{
    width: 100%;
    border-radius: 10px;
}
.description-heading{
    font-size: 3rem;
    margin-bottom: 0;
}
.description-para{
    color: #424242;
    margin-top: 0;
    font-size: 1.2rem;
    font-weight: 300;
}
.main-description-points{
    display: flex;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 300;
}
